<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lmv1java">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".lmemergencynumbers"></activity>
        <activity android:name=".lmaboutus" />
        <activity android:name=".lmcustomersatisfaction" />
        <activity android:name=".lmsurrounding" />
        <activity android:name=".lmclaimreport" />
        <activity android:name=".lmservices" />
        <activity android:name=".lmcontact" />
        <activity android:name=".lmweather" />
        <activity android:name=".lmmap" />
        <activity android:name=".lmhouseinfo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>